<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Ajoutez les liens vers les bibliothèques CSS et JS nécessaires pour votre projet -->
</head>
<body>
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6 offset-3">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Liste de typeArticle</h6>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th><th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="typeArticle : ${liste}">
                                <td th:text="${typeArticle.id}"></td><td th:text="${typeArticle.description}"></td>
                                <td>
                                 <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="'#modifiermodal' + ${typeArticle.Id}">
                                        <p><i class="bi bi-pencil"></i>Modifier</p>
                                    </button>
                                    <div class="modal fade" th:id="'modifiermodal' + ${typeArticle.Id}" tabindex="-1" th:aria-labelledby="'modifiermodalLabel' + ${typeArticle.Id}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <form th:action="@{'/Facturation/updatetypeArticle.do'}" method="put">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" th:text="'Modifier un ' + ${typeArticle}">Modifier un typeArticle</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <input type="hidden" th:name="id" th:value="${typeArticle.Id}">
                                                        <div class="mb-3"> 
    <label for="descriptioninput" class="form-label">Description
    </label> 
    <input type="text" class="form-control" id="descriptioninput" aria-describedby="descriptionhelp" name="description" th:value="${ typeArticle.description }"> 
</div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">Valider</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <form th:action="@{'/Facturation/deletetypeArticle.do'}" method="delete">
                                        <input type="hidden" th:name="id" th:value="${typeArticle.getId}">
                                        <button type="submit" class="btn btn-danger">
                                            <p><i class="bi bi-trash"></i>Supprimer</p>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ajoutmodal">
                        <p><i class="bi bi-plus"></i>Ajouter</p>
                    </button>
                </div>
            </div>

            <!-- Modal Ajout -->
            <div class="modal fade" id="ajoutmodal" tabindex="-1" aria-labelledby="ajoutmodalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <form th:action="@{'/Facturation/inserttypeArticle.do'}" method="post">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" th:text="'Ajouter un ' + ${typeArticle}">Ajouter un typeArticle</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3"> 
    <label for="descriptioninput" class="form-label">Description
    </label> 
    <input type="text" class="form-control" id="descriptioninput" aria-describedby="descriptionhelp" name="description"> 
</div>

                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Valider</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
